extends ../shared/template

block content
  h1 Edit Course

  form(method='GET', action='/user/courses/#{course._id}/lesson/new')
    button(id='create', class='btn btn-success') Create a Lesson
    //- button(id='create', class='btn btn-success',onClick="window.location.href='/user/courses/#{course._id}/lesson/new'") Create a Lesson
  form(method='POST', action='/user/courses/#{course._id}')
    input(type="hidden" name="_method" value="DELETE")
    button(id='delete', class='btn btn-danger') Delete Course

  form(method='POST', action='/user/courses/#{course._id}')
    input(type="hidden" name="_method" value="PUT")
    .form-group
      label Course Name
      input.form-control(type='text', name='name', placeholder='Enter Course Name' value=course.name)
    .form-group
      label Course Description
      textarea.form-control(type='text',name='description', placeholder='Enter Course Description')=course.description
    .form-group
      label Course Subject
      select.form-control(type='text', name='subject')
        option(selected=(course.subject === 'Agriculture' ? true : false)) Agriculture
        option(selected=(course.subject === 'Culinary' ? true : false)) Culinary
        option(selected=(course.subject === 'Computer Science' ? true : false)) Computer Science
        option(selected=(course.subject === 'History' ? true : false)) History
        option(selected=(course.subject === 'Math' ? true : false)) Math
        option(selected=(course.subject === 'Languages' ? true : false)) Languages
        option(selected=(course.subject === 'Science' ? true : false)) Science
    button(type='submit', class='btn btn-default') Submit

    h2 Course Lesson
      table.table
        thead
          tr
            th Lesson Name
        tbody
          each lesson in lessons
            tr
            td
              a(href='/user/courses/#{course._id}/lesson/#{lesson._id}')= lesson.name
            td= lesson.description
