extends ../shared/template

block content
  h1 #{lesson.name} Test

  form#test(method='POST', action='/user/#{userId}/lessons/#{lesson._id}/test')
    .time-limit-container(data-timer=lesson.testTimer)
    each question in questions
      .question-container
        p(class='question')= question.question
          each answer in question.answers
            p(class='answer', data-answer='#{answer.answer}')= answer.answer
            input(type='radio' name='#{question._id}' value='#{answer.answer}')
    button(type='submit', class='btn btn-default') Submit Test
